<div>
    <center><h2>Are you looking for some statistics about someone on GitHub</h2>
	<div ng-show="userNotFound">
		<p>Please put a valid user, this one doesn't exist </p>
	</div>
    <p>Enter the username you want to find</p>
	<form ng-submit="getUser()">
		<input type="text" id="username" ng-model="username">
		<input type="submit" value="search"> 
	</form>
	</center>
</div>

<div ng-show="loadedUser">
	<center>
		<h2> Informations about 
		  <a href="{{user.html_url}}" target="_blank"> {{user.login}} </a>
		</h2>
		<img src="{{ user.avatar_url }}" width="200" height="200" alt="{{ user.login }}">
		
		<table class="table table-striped">
			<thead>
				<tr class="info">
					<td>Information</td>
					<td>Value</td>	
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Followers</td>
					<td>{{ user.followers }}</td>	
				</tr>
				<tr>
					<td>Following</td>
					<td>{{ user.following }}</td>	
				</tr>
				<tr>
					<td>Number of repository</td>
					<td>{{ user.public_repos }}</td>	
				</tr>
				<tr>
					<td>Date of creation</td>
					<td>{{ user.created_at }}</td>	
				</tr>
			</tbody>
		</table>
	</center>
	
</div>

<div ng-show="loadedRepos">
	<center>
		<h2> Information about {{user.login}} repository</h2>
		<table class="table table-striped">
			<thead>
				<tr class="info">
					<td>Name</td>
					<td>Owner</td>
					<td>Creation</td>
					<td>Repository Link</td>	
					<td>Statics</td>
				</tr>
			</thead>
			<!-- List all repos of the user -->
			<tbody>
				<tr ng-repeat="repository in userrepo">
					<td>{{ repository.name }}</td>
					<td>{{ repository.owner.login }}</td>
					<td>{{ repository.created_at }}</td>
					<td><a href="{{ repository.html_url }}" target="_blank">Repository</a></td>
					<td><a href="#/repository/{{repository.full_name}}">Statics</a></td>
				</tr>
			</tbody>
		</table>
	</center>
</div>

